.vindisplay {
  color: slategrey;
  padding-left: 6rem;
  padding-right: 4rem;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.description {
  padding: 1rem 2rem 2rem 3rem;
  color: white;
  background-image: linear-gradient(rgb(19, 88, 110), darkblue);
}